<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Page</title>
        <link rel="stylesheet" href="../static/css/reward.css">
          <!-- ヘッダーCSS -->
  <link rel="stylesheet" href="/static/css/header.css">
  <!-- 全部のページに適用するCSS -->
  <link rel="stylesheet" href="/static/css/all.css">
    </head>
    <body>
      {% include "./components/header.html" %}

      {% block content %}
        <div id="contents">
            <div id="main">
              <section id="pagetop">
                <section class="box">
                  <h2 class="title"><span>商品交換完了</span></h2><br>
                  <div>
                    <h1>下記の景品を購入しました。<br>保有ポイント：<script type="text/javascript">document.write(localStorage.getItem('point'))</script></h1>
                    <br>
                    <script type="text/javascript">
						let list_data = {{ list | tojson }};
					</script> 
                    <div id="table-wrapper">
                      <script type="text/javascript" src = "../static/js/disp_receive_reward.js"></script>
                    </div>
                  </div>
                </section>
              </section>
            </div>
          </div>
          {% endblock %}
   </body>
</html>